[Unit]
Description=Promtail
After=network.target

[Service]
ExecStart=promtail --config.file=/home/admin/promtail-config.yml
WorkingDirectory=/home/admin
Restart=always

[Install]
WantedBy=multi-user.target
